<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>servlets.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderServlet</servlet-name>
        <servlet-class>servlets.MyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>servlets.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountServlet</servlet-name>
        <servlet-class>servlets.MyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCartServlet</servlet-name>
        <servlet-class>servlets.MyCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPurchaseServlet</servlet-name>
        <servlet-class>servlets.ConfirmPurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitRatingServlet</servlet-name>
        <servlet-class>servlets.SubmitRatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllBooksServlet</servlet-name>
        <servlet-class>servlets.ViewAllBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopFiveByCategoryServlet</servlet-name>
        <servlet-class>servlets.TopFiveByCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminStatisticsServlet</servlet-name>
        <servlet-class>servlets.AdminStatisticsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderServlet</servlet-name>
        <url-pattern>/MyOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountServlet</servlet-name>
        <url-pattern>/MyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCartServlet</servlet-name>
        <url-pattern>/MyCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPurchaseServlet</servlet-name>
        <url-pattern>/ConfirmPurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitRatingServlet</servlet-name>
        <url-pattern>/SubmitRating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllBooksServlet</servlet-name>
        <url-pattern>/ViewAllBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopFiveByCategoryServlet</servlet-name>
        <url-pattern>/TopFiveByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStatisticsServlet</servlet-name>
        <url-pattern>/AdminStatistics</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
